<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.buildship.core.launch.runconfiguration">
    <listAttribute key="arguments">
        <listEntry value="-Dlocal=true"/>
    </listAttribute>
    <booleanAttribute key="build_scans_enabled" value="false"/>
    <stringAttribute key="gradle_distribution" value="GRADLE_DISTRIBUTION(WRAPPER)"/>
    <stringAttribute key="gradle_user_home" value=""/>
    <stringAttribute key="java_home" value="C:\Users\Public\wpilib\2023\jdk"/>
    <listAttribute key="jvm_arguments"/>
    <booleanAttribute key="offline_mode" value="true"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="override_workspace_settings" value="true"/>
    <booleanAttribute key="show_console_view" value="true"/>
    <booleanAttribute key="show_execution_view" value="true"/>
    <listAttribute key="tasks">
        <listEntry value="build"/>
        <listEntry value="PublishToMavenLocal"/>
    </listAttribute>
    <booleanAttribute key="use_gradle_distribution_from_import" value="false"/>
    <stringAttribute key="working_dir" value="${workspace_loc:/3128-common}"/>
</launchConfiguration>
